button.css-4lu1hd.ef3psqc11:hover {
  border: none;

  color: white;
}

button.css-4lu1hd.ef3psqc11:active {
  border: none;
  background-color: #000000;
  color: white;
}

button.css-4lu1hd.ef3psqc11:focus {
  border: none;
  background-color: #000000;
  color: white;
}

.w3-light-grey {
  height: 50px;
  width: 100%;
  background-color: #ccc;
}

.w3-green {
  background-color: rgb(12, 61, 12);
  height: 100%;
  text-align: center;
  padding-top: 10px;
}
