.st-bd.st-b3.st-be.st-bf.st-bg.st-bh.st-bi.st-bj.st-bk.st-bl.st-bm.st-bn.st-bo
  button {
  color: green;
}

.st-bd.st-b3.st-be.st-bf.st-bg.st-bh.st-bi.st-bj.st-bk.st-bl.st-bm.st-bn.st-bo {
  display: flex;
  justify-items: center;
  align-items: center;
}
