button.css-4lu1hd.ef3psqc11:hover {
  border: none;

  color: white;
}

button.css-4lu1hd.ef3psqc11:active {
  border: none;
  background-color: #000000;
  color: white;
}

button.css-4lu1hd.ef3psqc11:focus {
  border: none;
  background-color: #000000;
  color: white;
}
